:root {
    --brand-color: linear-gradient(to right, #ff5858, #f857a6, #9cecfb, #65c7f7, #0052d4);
}
  
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
}

section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
}

.header {
    position: absolute;
    background-color: #1c1c1e;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    z-index: 100;
  }

.left-section {
    display: flex;
    align-items: center;
}

.header .text {
    background-image: var(--brand-color);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: bold;
}

.header .logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
}

.logout-btn {
    background-image: linear-gradient(to right, #ff5858, #f857a6);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-right: 40px;
}

.logout-btn:hover {
    background-color: #f857a6;
}

.matches-messages-container {
    position: absolute;
    top: 60px;
    width: 100%;
    overflow-y: auto;
}

.matches-container {
    padding: 10px 20px 20px;
    border-bottom: 1px solid #333;
}

.matches-container h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.matches {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.match {
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.match img {
    width: 80px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #fff;
}

.messages-container {
    padding: 10px 20px 20px;
    z-index: 10;
}

.messages-container h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.message {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    cursor: pointer;
    overflow-y: auto;
}

.message img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.message .info {
    flex-grow: 1;
}

.message .info .name {
    font-weight: bold;
    font-size: 16px;
}

.message .info .status {
    font-size: 14px;
    color: #aaa;
}

.message .badge {
    background-image: var(--brand-color);
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 3px;
}

.empty-state {
    text-align: center;
    margin-top: 50px;
}

.empty-state .icon {
    font-size: 50px;
    color: #aaa;
}

.empty-state h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.empty-state p {
    font-size: 14px;
    color: #aaa;
}

.navigation-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 64px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #1c1c1e;
    border-top: 1px solid #333;
}

.navigation .nav-item {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
}

.navigation .nav-item:hover {
    background-image: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
    -webkit-background-clip: text;
    color: transparent;
}

.navigation .nav-item.comments {
    position: relative;
}

.navigation .nav-item.comments::after {
    content: "2";
    position: absolute;
    top: -5px;
    right: -7px;
    background-image: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
    color: transparent;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
}